<table>
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <% tasks.forEach( task =>{ %>
    <tbody>
        
        <tr>
            <td> <%=tasks.indexOf(task)%></td>
            <td><%= task.title %></td>
            <td> <%= task.description %> </p>
            <td>
                <% if(task.done) { %>
                    <a href="/toggleDone/<%= task._id%> ">No Hecho</a>
                <%} else {%>
                    <a href="/toggleDone/<%= task._id%> ">Hecho</a>
               <% }%> 
                <a href="/edit/<%=task._id%>">Editar</a>
                <a href="/delete/<%=task._id%>">Borrar</a>
            </td>
            
        </tr>
    
    </tbody>
    <%}) %>
    
</table>