
<% if(tasks.length >0) { %>

        <div class="con-list dark-color-theme ">

            
                <ul>
                    <% tasks.forEach( task => {  %>
                    <li class="task">
                        <label for="estate">
                            <% if(task.done) { %>
                                <a class="btn-done" href="/toggleDone/<%= task._id%> "><img src="/img/icon-check.svg" alt=""></a>
                            <%} else {%>
                                <a class="btn-undone" href="/toggleDone/<%= task._id%> "></a>
                           <% }%> 
                            
                            <p><%= task.title %></p>                            
                        </label>
                        <a class="btn-set" href="/edit/<%=task._id%>"><span class="iconify" data-icon="bytesize:edit"></span></a>
                        <a class="btn-set" href="/delete/<%=task._id%>"><img src="/img/icon-cross.svg"></a>
                        
                    </li>
                    <% }); %>
                </ul>
              
        </div>

        
<%} else {%>
    <h1 class="dark-color-theme textcenter">There are not tasks</h1>
    <%}%>

  
        
    
    
    
    
        
       
    