
<% if(tasks.length >0) { %>
    <div class="card border border-3 ">
        <div class="card-body">
            <table  class="table table-hover">    
                
                <tbody>
                    <% tasks.forEach( task => {  %>
                    <tr>
                        
                        <td><%= task.title %></td>
                        <td>
                            <% if(task.done) { %>
                                <a class="btn btn-danger" href="/toggleDone/<%= task._id%> ">No Hecho</a>
                            <%} else {%>
                                <a class="btn btn-success" href="/toggleDone/<%= task._id%> ">Hecho</a>
                           <% }%> 
                            <a class="btn btn-dark" href="/edit/<%=task._id%>">Editar</a>
                            <a class="btn btn-dark" href="/delete/<%=task._id%>">Borrar</a>
                        </td>
                        
                    </tr>
                    <% }); %>

                    
                    <tr>
                        
                    
                        <td>count</td>
                        <td>
                            <a href="">All</a>
                            <a>Active</a>
                            <a>completed</a>
                        </td>
                        <td><a href="/deleteAll/<%= tasks._id%>">Clear Completed</a></td>
                    </tr>
                    
                </tbody> 
                
         
        </table>
        </div>
        </div>
        
<%} else {%>
    <h1 class="text-center">No existen tareas</h1>
    <%}%>

  
        
    
    
    
    
        
       
    